@tailwind base;
@tailwind components;
@tailwind utilities;

.tw-connect-wallet {
  border-radius: 8px !important;
  min-height: 50px !important;
  font-family: var(--font-satoshi) !important;
  font-size: 0.875rem !important /* 14px */;
  line-height: 1.25rem !important /* 20px */;
  font-weight: 700 !important;
}
