@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 767px) {
  .tw-connect-wallet {
    border-radius: 8px !important;
    min-height: 50px !important;
    font-family: var(--font-satoshi) !important;
    font-size: 0.875rem !important /* 14px */;
    line-height: 1.25rem !important /* 20px */;
    font-weight: 700 !important;
  }
}

@media (max-width: 768px) {
  .tw-connect-wallet {
    border-radius: 8px !important;
    min-height: 32px !important;
    height: 32px !important;
    font-family: var(--font-satoshi) !important;
    font-size: 12px !important /* 14px */;
    line-height: 16px !important /* 20px */;
    font-weight: 700 !important;
    padding: 8px 15px !important;
    margin: 0px !important;
    min-width: auto !important;
  }
}

@media (max-width: 767px) {
  .tw-connected-wallet {
    height: 32px !important;
    font-family: var(--font-satoshi) !important;
    min-width: 160px !important;
    border-radius: 8px !important;
    min-width: auto !important;
    margin: 0 !important;
  }

  .tw-connected-wallet div:first-child {
    display: none !important;
  }
  .tw-connected-wallet span:not(:first-child) {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .tw-connected-wallet {
    max-height: 52px !important;
    font-family: var(--font-satoshi) !important;
    min-width: 160px !important;
    border-radius: 8px !important;
  }

  .tw-connected-wallet div:not(:first-child) {
    gap: 0px !important;
  }

  .tw-connected-wallet img {
    width: 24px !important;
    height: 24px !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar styles for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
  background: #1c1917; /* Background of the track */
  border-radius: 10px; /* Rounding of the track corners */
}

::-webkit-scrollbar-thumb {
  background-color: #2e2e2e; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounding of the thumb corners */
  border: 3px solid #1c1917; /* Space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3e3e3e; /* Color of the scrollbar thumb on hover */
}

/* Custom scrollbar styles for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2e2e2e #1c1917;
}

/* Hover effect for Firefox */
*::-webkit-scrollbar-thumb:hover {
  background-color: #3e3e3e;
}

/* Change the background color and text color of selected text */
::selection {
  background-color: #6e5bdd;
  color: #f5f5f5;
}
::-moz-selection {
  background-color: #6e5bdd;
  color: #f5f5f5;
}
